In [44]:
import pandas as pd
import glob

path = r'/Users/steve_wortmann/Desktop/myFiles' # use your path
all_files = glob.glob(path + "/*.csv")

li = []

for filename in all_files:
    df = pd.read_csv(filename, index_col='id', header=0)
    li.append(df)

frame = pd.concat(li, axis=0, ignore_index=True)[['datetime','lastname','email','lat','long']]
frame['datetime']= pd.to_datetime(frame['datetime'])

In [45]:
frame.sort_values(by=['datetime'])

      datetime   lastname                              email     lat    long
572 1900-01-01  Gladstone  Annecorinne.Gladstone@yopmail.com  207.39    2.64
342 1900-03-05     Slifka        Sharlene.Slifka@yopmail.com  845.63  759.03
992 1900-03-12         Wu               Alyda.Wu@yopmail.com  932.20  269.21
742 1900-03-14       Jess         Cristabel.Jess@yopmail.com  861.53  470.35
641 1900-06-05       Ioab           Marleah.Ioab@yopmail.com  502.06  380.31
..         ...        ...                                ...     ...     ...
895        NaT      Quinn             Inga.Quinn@yopmail.com  566.89  338.61
896        NaT   Fillbert        Rozele.Fillbert@yopmail.com  130.31  861.98
897        NaT    Tippets        Sidoney.Tippets@yopmail.com  179.56  504.44
898        NaT    Jaylene           June.Jaylene@yopmail.com  172.47  280.60
899        NaT     Franza           Layla.Franza@yopmail.com  575.54  581.77

[1000 rows x 5 columns]